<div class="background">
  <div class="container "><br><br><br>
    <div class="row offset-md-3 col-md-6">   
        <div class="card w-100">
            <div class="card-body">
              <h5 class="card-title text-center">Bienvenido a <b>S</b>mart<b>H</b>ome</h5>
                <form [formGroup] = "loginForm" (ngSubmit)="login()" autocomplete = "on">
                  <div class="form-group"> 
                    <label >Email o nombre: </label>
                    <input type="text" class="form-control mb-2" id="inputName" formControlName = "email_nombre" placeholder = "Ingrese email o nombre" required>
                </div>
                <div class="form-group">
                    <label >Contraseña: </label>
                    <input type="password" class="form-control mb-2" id="inputPassword" formControlName = "password" placeholder = "Ingrese contraseña" autocomplete="section-blue shipping current-password" required>
                </div>
                  <button type="submit" class="btn btn-outline-primary btn-block">Iniciar sesion</button>
                </form>
                <div class="text-center">
                  o <br>
                  <a class="" routerLink="/registro">Registrarme</a>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>

