
  <app-nav-bar></app-nav-bar>
  <div class="container"><br><br><br>
    <div class="row offset-md-3 col-md-6">
        <div class="card w-100">
            <div class="card-body">
                <h5 class="card-title text-center">Registro Usuario Nuevo</h5>
                <form  autocomplete = "on">
                    <div class="form-group"> 
                        <label >Nombre: </label> 
                        <input type="text" class="form-control mb-2" id="inputName" placeholder = "Ingrese nombre" formControlName = "nombre" required>
                    </div>
                    <div class="form-group">
                        <label >Apellido: </label>
                        <input type="text" class="form-control mb-2" id="inputLastName" placeholder = "Ingrese apellido" formControlName = "apellido" required>
                    </div>
                    <div class="form-group">
                        <label>Email: </label>
                        <input type="text" class="form-control mb-2" id="inputEmail4"placeholder = "Ingrese email"formControlName = "email" required>  
                    </div>
                        <div class="form-group">
                        <label >Contraseña: </label>
                        <input type="password" class="form-control mb-2" id="inputPassword"placeholder = "Ingrese contraseña"formControlName = "password" autocomplete="section-blue shipping current-password" required>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-outline-primary btn-block mb-2">Registrarme</button>
                </form>
                
            </div>
        </div>
    </div>
</div>


