<app-nav-bar></app-nav-bar>
<div class="container "><br><br><br>
    <div class="row offset-md-3 col-md-6">   
        <div class="card w-100">
            <div class="card-body">
              <h5 class="card-title text-center">Registro Raspberry Existe</h5>
<form >
    <div class="mb-3">
        <label class="form-check-label" for="form-select">ID Raspberry</label>
        <br>
        <select class="form-control" id="exampleFormControlSelect1" formControlName = "tipo">
            <option value="Foco" selected>ID 1</option>
            <option value="Foco" selected>ID 2</option>
            <option value="Foco" selected>ID 3</option>
          </select>
      </div>
      <div class="text-center">
        o <br>
        <a class="" routerLink="/regras">Agregar Nueva Raspberry</a>
      </div>
      <br>
 
    <button type="submit" class="btn btn-outline-primary btn-block">Añadir Raspberry</button>
  </form>
</div>
</div>
</div>
</div>
 
