<app-nav-bar></app-nav-bar>
<div class="container "><br><br><br>
    <div class="row offset-md-3 col-md-6">   
        <div class="card w-100">
            <div class="card-body">
              <h5 class="card-title text-center">Registro Raspberry Existe</h5>
<form >
    <div class="mb-3"> 
        <label for="exampleInputEmail1" class="form-label">ID Raspberry</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder = "Ingrese ID Raspberry"formControlName = "nombre" aria-describedby="emailHelp">
      </div>
      <button type="submit" class="btn btn-outline-primary btn-block">Añadir Raspberry</button>
      <div class="text-center">
        o <br>
        <a class="" routerLink="/regras">Agregar Nueva Raspberry</a>
      </div>
      <br>
 
   
  </form>
</div>
</div>
</div>
</div>
 
