.background {
    background-image: url("../../../assets/img/fondohum.jpg");
    min-height: 100%;
    min-width: 800px;
    /* Escalamiento proporcional */
    width: 100%;
    height: auto;
    /* Posicionamiento */
    position: fixed;
    top: 0;
    left: 0;
}
h1 { font-size: 220%;
    color: #F7F4F3; }
   h5 { font-size: 280%;
    color: #F7F4F3;
    }