<!-- <div class="card" style="width: 18rem;">
    <img src="../../../assets/img/pi-cutout.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Raspberry</h5>
        <p class="card-text">{{raspberries.nombre}}</p>
    </div>
</div>
&nbsp;&nbsp;&nbsp;&nbsp;   -->

<div class="card bg-dark text-white">
    <img src="../../../assets/img/pi-cutout.png" class="card-img ">
    <div class="card-img-overlay">
        <h5 class="card-title">Raspberry</h5>
            <p class="card-text">{{raspberries.nombre}}</p>
    </div>
</div>
<div class="card-footer text-center">
    <button type="button" class="btn btn-outline-primary" (click)="eventoRaspberry()" >Ver dispositivos</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button *ngIf="!usuario" type="button" class="btn btn-outline-dark" (click)="RaspberryID()" data-toggle="modal" data-target="#staticBackdrop" >Mas opciones</button>
</div>
<br>



<!-- <div class="col">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title text:center">Raspberry</h5> 
        </div>
        <div class="card-img">
            <img src="../../../assets/img/pi-cutout.png" > 
        </div>
        <div class="card-footer">
            <p class="card-text text-center">{{raspberries.nombre}}</p>
        </div>
    </div>  
</div> -->







