<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        <div class="col">   
<div class="card m-l-50 m-t-30 border-info mb-3" style="width: 18rem; " routerLink="/menu">
    <h5 class="card-header" style="text-align: center;">Raspberry</h5>
    <img src="../../../assets/img/splash.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text" style="text-align: center;">Ejemplo de como va</p>
    </div>
</div>
        </div>
 <div class="col">
    <div class="card m-l-50 m-t-30  text-white bg-success mb-3" style="width: 18rem; " routerLink="/menu">
        <h5 class="card-header" style="text-align: center;">Nueva Raspberry</h5>
        <img src="../../../assets/img/agregar.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text" style="text-align: center;">Agregar Raspberry</p>
        </div>
    </div>
</div>
    </div>
</div>
