<app-nav-bar></app-nav-bar>
<div class="container "><br><br><br>
    <div class="row offset-md-3 col-md-6">   
        <div class="card w-100">
            <div class="card-body">
              <h5 class="card-title text-center">Registro Raspberry</h5>
<form >
    <div class="mb-3"></div>
      <label for="exampleInputEmail1" class="form-label">Nombre</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder = "Ingrese nombre"formControlName = "nombre" aria-describedby="emailHelp">
    <br>
    <div class="mb-3">
        <label class="form-check-label" for="form-select">Modelo Raspberry</label>
        <br>
        <select class="form-control" id="exampleFormControlSelect1" formControlName = "tipo">
            <option value="Foco" selected>Modelo A++</option>
          </select>
      </div>
      
      
 
    <button type="submit" class="btn btn-outline-primary btn-block">Añadir Raspberry</button>
  </form>
</div>
</div>
</div>
</div>

