<app-nav-bar></app-nav-bar>
<div class="container "><br><br><br>
    <div class="row offset-md-3 col-md-6">   
        <div class="card w-100">
            <div class="card-body">
              <h5 class="card-title text-center">Registro Raspberry</h5>
<form  [formGroup] = "raspberryFrom" (ngSubmit)="nuevaRaspberry()" autocomplete = "on">
    <div class="mb-3"> 
      <label for="exampleInputEmail1" class="form-label">Nombre</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder = "Ingrese nombre"formControlName = "nombre" aria-describedby="emailHelp">
    </div>
      
    <div class="mb-3">
        <label class="form-check-label" for="form-select">Modelo Raspberry</label>
        <br>
        <select class="form-control" id="exampleFormControlSelect1" formControlName = "modelo">
            <option value="RASPBERRY PI 3 MODEL A+" selected>Raspberry Pi 3 Model A+</option>
          </select>
      </div><br>
      <button type="submit" class="btn btn-outline-primary btn-block">Agregar Nueva Raspberry</button>
  </form>
      <div class="text-center">
        o <br>
        <a class="" routerLink="/agregar/raspberry/existente">Agregar Raspberry Existente</a>
      </div>
      <br>
 
    
</div>
</div>
</div>
</div>
 
