<app-nav-bar></app-nav-bar>
<br>

<div class="container">
  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <div class="col">       
      <div class="card" style="width: 18rem;">
          <img src="../../../assets/img/tempera.jpg" class="card-img-top" height="190px;" alt="..." routerLink="/temperatura" >
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/img/luz.jpeg" class="card-img-top" height="190px;" alt="..." routerLink="/controles">
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;" >
      <img src="../../../assets/img/cochera.jpeg" *ngIf="!invited" class="card-img-top" height="190px;" alt="..." routerLink="/cochera">
      <img src="../../../assets/img/humedad.jpg"  *ngIf="invited"class="card-img-top" height="190px;" alt="..." routerLink="/Humedad">
    </div>
    </div>
  </div>
</div>

<br>
<br>

<div class="container">
  <div class="row">
    <div class="col">       
      <div class="card" style="width: 18rem;" *ngIf="!invited">
        <img src="../../../assets/img/humedad.jpg" class="card-img-top" height="190px;" alt="..." routerLink="/Humedad">
      </div>
    </div>
    <!-- <div class="col">
      <div class="card" style="width: 18rem;" *ngIf="!invited">
        <img src="../../../assets/img/alarma.png" class="card-img-top" height="190px;" alt="..." routerLink="/alarma">
      </div>
    </div> -->
    <div class="col">
      
    </div>
  </div>
</div>
