<div class="backgrounds">
<br>
<div class="row">
<div class="col-md-12">
    <div class="card col-md-12">
        <div class="card-body row">
            <div class="d-flex flex-row bd-highlight mb-12">
                    <h1 class="bd-highlight">48%</h1>
                    <div class="d-flex .justify-content-md-center">
                    <b style="text-indent: 10em;"> {{sensores.nombre}}</b>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    </div>
            </div>
            <button type="button" class="btn btn-outline-danger offset-md-10 col-md-2">Eliminar sensor</button>
            <h6 style="text-indent: 15em;"> {{sensores.descripcion}}</h6>
        </div>
    </div>
</div>    
</div>    
</div>