<div class="col-md-12">
    <div class="card col-md-12">
        <div class="card-body ">
            <div class="d-flex flex-row bd-highlight mb-12">
                    <h1 class="bd-highlight">Sensor {{sensoresH.nombre}}</h1>
                    <div class="d-flex .justify-content-md-center">
                    <p style="text-indent: 10em;">Modelo: {{ sensoresH.modelo }}</p>
                    </div>
            </div>
        </div>
        <div class="card-footer text-right">
            <button  type="button" class="btn btn-outline-danger offset-md-6 col-md-2" *ngIf="!usuario">Eliminar sensor</button>&nbsp;&nbsp;
            <button type="button" routerLink="raspberry/dispositivos/temperatura/vtemp" class="btn btn-outline-success  col-md-3">Ver Sensores Temperatura</button>
        </div>
    </div>
</div>    <br>