<app-nav-bar></app-nav-bar>
<div class="container" *ngIf="!invited">
    <div class="row">
    <div class="offset-md-3 col-md-6">
<form>
    <div class="mb-3"></div>
      <label for="exampleInputEmail1" class="form-label">Nombre</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    
    <div class="mb-3">
        <label for="exampleInputdescription" class="form-label">Descripción</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
    <div class="mb-3">
        <label class="form-check-label" for="form-select">Tipo</label>
        <br>
        <select class="form-control" id="exampleFormControlSelect1">
          <option selected></option>
            <option value="Foco">Foco</option>
          </select>
      </div>
      <div class="mb-3">
        <label class="form-check-label" for="form-select">PIN</label>
        <br>
        <select class="form-control" id="exampleFormControlSelect1">
          <option selected></option>
            <option value="1"></option>
          </select>
      </div>
 
    <button type="submit" class="btn btn-primary">Añadir</button>
  </form>
</div>
</div>
</div>
