<app-nav-bar></app-nav-bar>
<br>
<br>
<div class="container">
    <div class="row">
    <div class="offset-md-3 col-md-6">
<table class="table table-success table-striped text-center">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Usuario</th>
        <th scope="col" class="">Acción</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td class="text-center"> <button type="button" class="btn btn-outline-danger btn-sm">Eliminar </button>
        </td>
       
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>
