
<div class="row">
    <div class="col-md-12">
        <div class="card col-md-12">
            <div class="card-body row">
                <div class="d-flex flex-row bd-highlight mb-12">
                        <h5 class="bd-highlight">{{focos.nombre}}</h5>
                        
                        <div class="d-flex .justify-content-md-center">
                            <p style="text-indent: 20em;">{{focos.descripcion}}</p>
                        </div>
                            <label class="switchBtn offset-md-8 col-md-2">
                                <input type="checkbox">
                                <div class="slide round">On</div>
                            </label>
                </div>
            </div>
        </div>
    </div>
</div>

