<app-nav-bar></app-nav-bar>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#FFFFFF" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div class="container">

    <div>

        <div class="container ">
            <div class="row offset-md-2 col-md-6">
                <div class="h1">
                </div>
            </div>
            <div class="jc-c">
                <p style="color: black;" class="bd-highlight fs-50">{{humeActual}}
                    <p>
            </div>
        </div>
        <div class="h5">
            <div class="h5">
                <p class="bd-highlight  jc-c fs-30">Sensor Humedad</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
            </div>
            <div class="row offset-md-0 m-t-30">
                <!-- <div>
                    <b class="bd-highlight">Descripción: <p>Este sensor de temperatura se encuentra en el interior de la casa, junto a la sala de espera, con la finalidad de capturar la temperatura del centro de la casa</p></b>
                </div> -->
            </div>



            <div class="row">
                <div class="col">
                    <div class="flex-item" *ngIf="datosGraf_length > 0">
                        <div style="display: block; width: 600px;">
                            <canvas baseChart [datasets]="datosGraf" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <table class="table text-center table-light table-striped bd-highlight">
                        <thead>
                            <tr>
                                <th scope="col">Humedad</th>
                                <th scope="col">Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let dato of datos">
                                <td>{{dato.dato.humedad}}</td>
                                <td>{{dato.created_at |date:"short"}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>



        </div>
